html {
    background-image: white;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Noto Serif', serif;
}

.container{
    position: relative;
    height: 100vh;
}

.head-text1{
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    margin-left: 10px;
    color: #000000;
}

.head-text2{
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 20px;
    margin-left: 10px;
    color: #000000;
}

nav ul {
    list-style-type: none;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    margin-left: -10px;
    margin-top: 0%;
    padding: 0;
    overflow: hidden;
    background-color: #98E4FC;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
    border: 1px solid gainsboro;
}

nav li {
    float: right;
}

nav li a{
    display: inline-block;
    color:#000000;
    text-align: center;
    font-size: 30px;
    padding: 15px 20px;
    text-decoration: none;
}

nav li a:hover {
    opacity:0.9;
    background-color: #c0eef7;
}

.jenis{
    position: absolute;
    width: 100%;
    height: 53px;
    top: 105px;
    background: #F4FEFF;
    box-shadow: 0px 0px 33px 3px rgba(0, 0, 0, 0.25);
    border-radius: 29px;
}

.jenis-text{
    position: absolute;
    width: 1266px;
    height: 38px;
    left: 50px;
    top: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    color: #000000;

}

.kategori{
    position: absolute;
    width: 100%;
    height: 640px;
    margin-bottom: 10px;
    top: 176px;
    background: #F4FEFF;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
    border-radius: 29px;
}

.lokasi-gambar1{
    position: absolute;
    padding: 20px;
}

.lokasi-gambar2{
    position: absolute;
    padding-top: 330px;
    padding-right: 20px;
    padding-left: 20px;
}

.smartphone{
    width: 318px;
    height: 286px;
}

.laptop{
    width: 318px;
    height: 286px;
}

.tv{
    width: 318px;
    height: 286px;
}

.ac{
    width: 318px;
    height: 286px;
}

.kipas{
    width: 318px;
    height: 286px;
}

.kulkas{
    width: 318px;
    height: 286px;
}

.mesin-cuci{
    width: 318px;
    height: 286px;
}

.lainnya{
    width: 318px;
    height: 286px;
}
